
*{
    box-sizing: border-box;
}
/*
html {

}
h1 {

}
img {

}
ul {

}
li {
*/
div {
    border: 2px solid black;
    height: 20%;
}
ul {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}